<div class="container">
    <div class="row"> 
        <input class="form-control" name="search" 
        [(ngModel)]="searchText">
<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of filterResidence()">
        <td><img [src]="r.image" width="50" height="50"></td>
        <td>{{r.id}}</td>
        <td>{{r.name}}</td>
        <td *ngIf="r.status == 'Disponible'"> ✅ {{r.status}}</td>
        <td *ngIf="r.status == 'Vendu'"> ❌ {{r.status}}</td>
        <td *ngIf="r.status == 'En Construction'"> 🚧 {{r.status}}</td>
        <td><button class="btn btn-outline-primary" (click)="selectResidence(r)">Show location</button></td>
       <td> <button class="btn btn-outline-danger" (click)="addToFavoris(r)">{{isFavoris(r) == -1 ? 'Like' : 'Dislike'}}</button>
        </td>
        <td><button class="btn btn-outline-primary" [routerLink]="['/details/',r.id]">Détails</button></td>
        <td><button class="btn btn-outline-primary" [routerLink]="['/apartment/add/',r.id]">add apartment</button></td>
        <td><button class="btn btn-outline-primary" [routerLink]="['/residence/show/',r.id]">show apartments</button></td>

    </tr>
    </tbody>
</table>
<p class="alert alert-primary" *ngIf="show"> Addresse de Résidence {{x.name}} : {{x.address}}</p>

<h3 class="text-center">Liste des favoris</h3>
<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of listFavoris">
        <td><img [src]="r.image" width="50" height="50"></td>
        <td>{{r.id}}</td>
        <td>{{r.name}}</td>
        <td *ngIf="r.status == 'Disponible'"> ✅ {{r.status}}</td>
        <td *ngIf="r.status == 'Vendu'"> ❌ {{r.status}}</td>
        <td *ngIf="r.status == 'En Construction'"> 🚧 {{r.status}}</td>
    </tr>
    </tbody>
</table>
</div>
</div>